@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');


#carousel-item-1
{
    
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2020/06/21/15/26/perfume-5325434__340.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh; 
    /*  */   
}


#carousel-item-2
{
    
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2017/03/08/13/26/attar-2126745__340.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh; 
    /* */
}

#carousel-item-3
{

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2017/03/14/11/41/perfume-2142824__340.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    /*  */
}


.carousel-caption h1
{
    font-family: 'Pacifico', cursive;
}

.carousel-caption p
{
    font-family: 'Manrope', sans-serif;
    margin-top: 3%;
}
